.section_1 {
    background: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
}

.header, .content {
    display: flex;
    padding: 48px;
    flex: auto;
}

.logo {
    font-size: 24px;
}

.content {
    display: flex;
    flex: auto;
    justify-content: center;
}

img, .hero {
    height: 300px;
    width: 600px;
}

.header div {
    display: flex;
    align-items: center;
    flex: auto;
}


.links {
    display: flex;
    flex-grow: 0;
    justify-content: end;
    gap: 24px;
}

a {
    color: white;
}
