* {
    font-family: monospace;
}

.section_1 {
    background: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    padding-right: 200px;
}

.header, .content {
    display: flex;
    padding: 48px;
    flex: auto;
}

.logo {
    font-size: 32px;
}

.content {
    display: flex;
    flex: auto;
    justify-content: space-around;
    padding-top: 100px;
    padding-bottom: 100px;
}

img, .hero {
    display: flex;
    flex: auto;
    height: 300px;
    width: 600px;
}

img {
    background-color: grey;
}

.hero {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: space-around;
}

.hero_1 {
    font-size: 48px;
    font-weight: 900;
}

.hero_2 {
    font-size: 18px;
}

button {
    background-color: #3882F6;
    color: white;
    font-weight: bold;
    border-radius: 25px;
    padding: 16px;
    /* height: 60px; */
    width: 120px;
}

.header div {
    display: flex;
    align-items: center;
    flex: auto;
}


.links {
    display: flex;
    flex-grow: 0;
    justify-content: end;
    gap: 24px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 250px;
    text-align: center;
}

.box img {
    width: 250px;
    height: 250px;
    border: solid #3882F6;
    border-radius: 25px;
    background-color: pink;
}

.section_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 300px;
    gap: 48px;
}

.title {
    font-size: 40px;
    font-weight: bolder;
}

.items {
    display: flex;
    gap: 48px;
}

.section_3 {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 150px 300px;
    justify-content: center;
    align-items: end;
}

.quote {
    font-size: 36px;
    font-style: italic;
}

.author {
    display: flex;
    font-size: 30px;
    font-weight: bold;
}

/* section 4 blue box width : 1200px */